@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                
                <h2>@ViewBag.Message</h2>
            </hgroup>
            
        </div>
    </section>
}
<h3>BuildEasy has the following features:</h3>
<ol class="round">
    <li class="one">
        <h5>RFI Management</h5>
        Submit, track and process all of your RFI's through BuildEasy. Fully automated RFI management 
    </li>

    <li class="two">
        <h5>Change Orders</h5>
        Never misplace a change order again. BuildEasy centralizes all important change orders.
    </li>

    <li class="three">
        <h5>Time Sheet Management</h5>
        Doing timesheets manually is a thing of the past!
    </li>
</ol>
